@model ToDoListCore.ViewModels.EmployeeWithZadaniaList
@{
    ViewData["Title"] = "Szczegóły pracownika";
}

<h1 class="display-4">Szczegóły pracownika</h1>

<div>ID: @Model.EmployeeID</div>
<div>Imię: @Model.Name</div>
<div>Nazwisko: @Model.Surname</div>
<div>Data urodzeina: @Model.DayOfBirthday.ToString("dd-MM-yyyy")</div>
<div>Adres E-Mail: @Model.EmailAddress</div>
<div>Numer telefonu: @Model.PhoneNumber</div>
<div>Dział: @Model.DeptName</div>

<div class="w-50">
    <table class="table table-dark text-center table-sm">
        <thead>
            <tr>
                <th>Tytuł zadania</th>
                <th>Opis zadania</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Zadanie z in Model.ZadaniaList)
            {
                <tr>
                    <td>@z.Title</td>
                    <td> @z.Description</td>
                </tr>
            }
        </tbody>

    </table>
</div>

<a asp-action="Main">Powrót do listy zadań</a>
