<link rel="stylesheet" href="~/css/MainSite.css" type="text/css" />

@model ToDoListCore.ViewModels.TaskWithEmpsList
@{
    ViewData["Title"] = "Szczegóły zadania";
}

<h1 class="display-4">Szczegóły zadania</h1>

<div>ID: @Model.ID</div>
<div>Data rozpoczęcia zadania: @Model.StartDate.ToString("dd-MM-yyyy")</div>
<div>Godzina rozpoczęcia zadania: @Model.StartTime.ToString("HH:mm")</div>
<div>Data zakończenia zadania: @Model.EndDate.ToString("dd-MM-yyyy")</div>
<div>Godzina zakończenia zadania: @Model.EndTime.ToString("HH:mm")</div>
<div>Tytuł zadania: @Model.Title</div>
<div>Opis zadania: @Model.Description</div>

<div class="w-50 detailemplist">
    <table class="table table-dark table-sm text-center">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee e in Model.EmployeesList)
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Surname</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a asp-action="Main">Powrót do listy zadań</a>
