@model Zadanie
@{
    ViewData["Title"] = "Szczegóły zadania";
}

<h1 class="display-4">Szczegóły zadania</h1>

<div>ID: @Model.</div>
<div>Data rozpoczęcia zadania: @Model.StartTime</div>
<div>Data zakończenia zadania: @Model.EndTime</div>
<div>Tytuł zadania: @Model.Title</div>
<div>Opis zadania: @Model.Description</div>



<a asp-action="Main">Powrót do listy zadań</a>
