@model IEnumerable<Zadanie>
<h1 class="text-primary">Zadania zakończone</h1>
<div>
    <table class="table table-dark">
        <thead class="tab">
            <tr>
                <th></th>
                <th><a asp-action="SortTask" asp-route-id="StartDate">Data rozpoczęcia</a></th>
                <th><a asp-action="SortTask" asp-route-id="EndDate">Data zakończenia</a></th>
                <th><a asp-action="SortTask" asp-route-id="Title">Tytuł</a></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Zadanie t in Model)
            {
                @if (t.IsEnd == true)
                {
            <tr>
                <td><a asp-action="ResponeTask" asp-route-id="@t.ID" class="btn btn-success btn-sm">Przywróć zadanie</a></td>
                <td>@t.StartDate.ToString("dd-MM-yyyy") @t.StartTime.ToString("HH:mm")</td>
                <td>@t.EndDate.ToString("dd-MM-yyyy") @t.EndTime.ToString("HH:mm")</td>
                <td>@t.Title</td>
                <td><a asp-action="DetailTask" asp-route-id="@t.ID" class="btn btn-info btn-sm">Szczegóły</a> | <a asp-action="EditTask" asp-route-id="@t.ID" class="btn btn-secondary btn-sm">Edytuj</a> | <a asp-action="DeleteTask" asp-route-id="@t.ID" class="btn btn-danger btn-sm">Usuń</a></td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
