@model IEnumerable<Zadanie>
<h1 class="text-primary">Zadania zakończone</h1>
<div>
    <table class="table table-dark">
        <thead class="tab">
            <tr>
                <th></th>
                <th>Data rozpoczecia</th>
                <th>Data zakończenia</th>
                <th>Tytuł</th>
                <th>Stan zadania</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Zadanie t in Model)
            {
                @if (t.IsEnd == true)
                {
            <tr>
                <td><a asp-action="ResponeTask" asp-route-id="@t.ID" class="btn btn-success btn-sm">Przywróć zadanie</a></td>
                <td>@t.StartTime</td>
                <td>@t.EndTime</td>
                <td>@t.Title</td>
                <td>@t.IsEnd</td>
                <td><a asp-action="DetailTask" asp-route-id="@t.ID" class="btn btn-secondary btn-sm">Szczegóły</a> | <a asp-action="EditTask" asp-route-id="@t.ID" class="btn btn-secondary btn-sm">Edytuj</a> | <a asp-action="DeleteTask" asp-route-id="@t.ID" class="btn btn-secondary btn-sm">Usuń</a></td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
