@model Department
@{
    ViewData["Title"] = "DetailDepartment";
}

<h1>Szczegóły działu firmy</h1>

<div>
    <p>ID działu: @Model.DepartmentID</p>
    <p>Nazwa działu: @Model.Name</p>
    <p>Opis działu: @Model.Description</p>

    <div class="w-50">
        <table class="table table-dark table-sm text-center">
            <thead>
                <tr>
                    <th>Imię pracownika</th>
                    <th>Nazwisko pracownika</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Employee e in Model.Employees)
                {
                    <tr>
                        <td>@e.Name</td>
                        <td>@e.Surname</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <a asp-action="Index">Porót do zarządzania oddziałami</a>
</div>

